<header>
    <div id="header-container">
        <div class="create-habbit-form">
            <form action="/create-habbit" method="POST">
                <input type="text" id="createHabbit" name="habbit" placeholder="Create habbit" required>
                <button class="btn">Create</button>
            </form>
        </div>
    </div>
</header>