<!-- <body>
    <nav>
        <div id="header-container">
            <a href="/"><h2>Habbit Tracker</h2> </a>          
       </div>
    </nav>
    
</body> -->

<body>
    <nav>
        <div id="header-container">
            <% if (isHomePage) { %>
                <a href="/"><h2>Habbit Tracker</h2></a>
            <% } else if(updatePage) { %>
                <a href="/"><h2>Habbit</h2></a>
            <% } %>
            <!-- Anchor tag to return to home on top right -->
            <a href="/" class="top-right-anchor">Home</a>
        </div>
    </nav>
   
</body>
