<section>
    <div id="update-form">
        <form action="/create-tracker" method="Post">
            <input type="hidden" name="habbit" value="<%= habit._id %>">
            <div class="status-container">
                <label for="status" id="status-label">Status</label>
                <select name="status" id="habbit-tracker-status">
                    <option value="None">None</option>
                    <option value="Done">Done</option>
                    <option value="Not-Done">Not-Done</option>
                </select>
            </div>
            
            <div class="date-container">
                <label for="date">Date</label>
                <input type="date" name="date" id="date" required>
            </div>

            <div class="day-container">
                <label for="day" id="day-label">Day</label>
                <select name="day" id="habbit-tracker-day">
                    <option value="monday">Monday</option>
                    <option value="tuesday">Tuesday</option>
                    <option value="wednesday">Wednesday</option>
                    <option value="thursday">Thursday</option>
                    <option value="friday">Friday</option>
                    <option value="saturday">Saturday</option>
                    <option value="sunday">Sunday</option>
                </select>
            </div>
            <button class="btn">Update</button>
        </form>
    </div>
</section>